body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7aaf0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* karta */
.card {
    background: #ffffff;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* avatar */
.avatar {
    width: 100px;
    height: 100px;
    background: #ff91e7;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    margin: 0 auto 20px;
}

/* texty */
h1 {
    margin: 10px 0;
}

.subtitle {
    color: #6b7280;
    font-size: 14px;
    margin-bottom: 15px;
}

.description {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}

/* tagy */
.tags span {
    background: #dbe4f0;
    padding: 8px 15px;
    border-radius: 20px;
    margin: 5px;
    display: inline-block;
    font-size: 13px;
}

/* tlačítko */
button {
    background: #ff99f7;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #244bb5; }